.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    background-color: black;
    padding: 0px;
    margin: 0;
}

.grid-item {
height: 50px;
width: 50px;
}

.buttons{
   padding: 12px;
   display: flex;
   gap: 10px;
}

.button {
    padding: 5px;
}
